
  <mat-nav-list>
      <a mat-list-item routerLink="/"><mat-icon>home</mat-icon>Home</a>
      <a mat-list-item *ngIf="isAuthenticated" routerLink="/lunches"><mat-icon>local_pizza</mat-icon>Lunches</a>
      <a mat-list-item *ngIf="isAuthenticated" routerLink="/teams"><mat-icon>group</mat-icon>Teams</a>
      <a mat-list-item *ngIf="isAuthenticated" (click)="logout()"><mat-icon>lock_outline</mat-icon>Log Out</a>
      <a mat-list-item *ngIf="!isAuthenticated" routerLink="/login"><mat-icon>lock_outline</mat-icon>Log In</a>
  </mat-nav-list>